<form>
  <div class="row row-title">
    <div class="col-10 d-flex justify-content-center">
      <label class="crud-title">{{ title }}</label>
    </div>
    <div id="btn-new" class="col-2 text-right">
      <fa-icon class="button-huge" [icon]="['fas', 'plus-circle']" (click)="goto('OrdenCompraCrudAdd',0)"></fa-icon>
    </div>
  </div>

  <div class="row mb-4">
    <div id="filter-proveedor" class="col-3">
      <div class="input-group">
        <label class="input-group-text control-label" for="select-proveedor">
          Proveedor
        </label>
        <select id="select-proveedor" class="form-control" name="proveedor" [(ngModel)]="proveedorSeleccionado"
                [compareWith]="compareFn">
          <option *ngFor="let proveedor of proveedores; trackBy: trackByFn" [ngValue]="proveedor">
            {{ proveedor.nombre }}
          </option>
        </select>
      </div>
    </div>

    <div id="filter-fecha" class="col-2">
      <div class="input-group">
        <button class="btn btn-outline-secondary control-label" (click)="d.toggle()" type="button" data-toggle="tooltip"
                data-placement="top" title="Fecha de creación">
          <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
        </button>
        <input class="form-control" name="fechaCreacion" [(ngModel)]="fechaSeleccionada" (ngModelChange)="onSelectDate($event)"
               ngbDatepicker #d="ngbDatepicker" readOnly>
      </div>
    </div>

    <div id="filter-puesto" class="col-2">
      <div class="input-group">
        <label class="input-group-text control-label" for="select-puesto">
          Puesto
        </label>
        <select id="select-puesto" class="form-control" name="puesto" [(ngModel)]="puestoSeleccionado" [compareWith]="compareFn">
          <option *ngFor="let puesto of puestos; trackBy: trackByFn" [ngValue]="puesto">
            {{ puesto.codigoDescripcion }}
          </option>
        </select>
      </div>
    </div>

    <div id="filter-orden" class="col-2">
      <div class="input-group">
        <label class="input-group-text control-label">
          # Orden
        </label>
        <input #ordenCompraNro class="form-control" name="orden" type="text" [(ngModel)]="numeroSeleccionado" />
      </div>
    </div>

    <div id="filter-estado" class="col-3">
      <div class="input-group">
        <label class="input-group-text control-label" for="select-estado">
          Estado
        </label>
        <select id="select-estado" class="form-control" name="estado" [(ngModel)]="estadoSeleccionado" [compareWith]="compareFn">
          <option *ngFor="let estado of estados; trackBy: trackByFn" [ngValue]="estado">
            {{ estado.descripcion }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row pt-4 mb-3">
    <div id="search-results" class="col-11">
      <table class="table">
        <thead>
          <th class="col-4 col-left">
            Proveedor
          </th>
          <th class="col-2 col-left">
            Fecha de Creaci&oacute;n
          </th>
          <th class="col-1 col-center">
            # Orden
          </th>
          <th class="col-1 col-center">
            Estado
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let orden of ordenes; trackBy: trackByFn">
            <td class="col-left" (click)="goto('OrdenCompraCrudEdit',orden.id)">
              {{ orden.proveedor.nombre }}
            </td>
            <td class="col-left" (click)="goto('OrdenCompraCrudEdit',orden.id)">
              {{ orden.fechaCreacion }}
            </td>
            <td class="col-center" (click)="goto('OrdenCompraCrudEdit',orden.id)">
              {{ orden.puesto }}-{{ orden.numero }}
            </td>
            <td class="col-center" (click)="goto('OrdenCompraCrudEdit',orden.id)">
              {{ orden.estado.descripcion }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="no-result" *ngIf="!ordenes || (ordenes && ordenes.length == 0)">
        Sin resultados
      </div>
    </div>
    <div id="btn-search" class="col-1 text-right">
      <fa-icon class="button-normal pr-3" [icon]="['fas', 'search-plus']" (click)="buscar()"></fa-icon>
      <fa-icon class="button-normal pl-2" [icon]="['fas', 'eraser']" (click)="limpiar()"></fa-icon>
    </div>
  </div>
</form>