@import '/../../../scss/custom';
#body-container {
  // background-color: #22252D;
  background-color: $body-bg;
}

#left-menu {
  margin-top: 20px;
  background-color: #22252D;
}

#real-body {
  background-color: #2C303B;
}
