@import '/../../../scss/custom';

label {
  &.slide-label {
    color: rgba($text-field-cl, .5);
    font-size: $font-medium;
    left: 1rem;
    pointer-events: none;
    position: absolute;
    top: 0.1rem;
    transform: translateY(0.3rem);
    transition: all 0.2s ease;
    &.active {
      font-size: $font-small;
      left: 0.5rem;
      top: -1.7rem;
      transition: all 0.2s ease;
    }
    .req {
      color: $req-cl;
    }
  }
}

#login-button{
  &.btn-block {
    font-size: $font-large;
    letter-spacing: 0.1em;
    padding: 1rem 0;
  }
}

.field-wrap-login {
  margin-bottom: $margin-normal;
  position: relative;
}




