<div class="row">
  <div class="offset-11 col-1 d-flex justify-content-end">
    <a (click)="openModal(0)">
      <fa-icon class="click-icon" [icon]="['fas', 'plus-circle']"></fa-icon>
    </a>
  </div>
</div>

<div class="row">
  <div id="search-results" class="col-12">
    <table class="table">
      <thead class="table-xsmall-font">
        <th scope="col">Descripci&oacute;n</th>
        <th scope="col">Calle</th>
        <th scope="col">Nro.</th>
        <th scope="col">Piso</th>
        <th scope="col">Dpto.</th>
        <th scope="col">Ciudad</th>
        <th scope="col">Provincia</th>
        <th scope="col">Principal</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </thead>
      <tbody class="table-xxsmall-font">
        <tr class="no-pointer" *ngFor="let domicilio of domicilios; trackBy: trackByFn">
          <td>{{ domicilio.descripcion }}</td>
          <td>{{ domicilio.calle }}</td>
          <td>{{ domicilio.nro }}</td>
          <td>{{ domicilio.piso }}</td>
          <td>{{ domicilio.dpto }}</td>
          <td>{{ domicilio.ciudad.nombre }}</td>
          <td>{{ domicilio.ciudad.provincia.nombre }}</td>
          <td>          
              <fa-icon [icon]="['fas', 'check']" *ngIf="domicilio.principal"></fa-icon>
          </td>
          <td class="col-1">
            <a (click)="openModal(domicilio.id)">
              <fa-icon class="click-icon" [icon]="['fas', 'edit']"></fa-icon>
            </a>
          </td>
          <td class="col-1">
            <a (click)="eliminarDomicilio(domicilio.id)">
              <fa-icon class="click-icon" [icon]="['fas', 'trash']"></fa-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
