<div class="modal-header">
  <h3 class="modal-title">Domicilio</h3>
</div>

<div class="modal-body">
  <form #f="ngForm" novalidate>

    <div class="row no-gutters justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <app-messages></app-messages>
      </div>
    </div>

    <div class="row">

      <div id="field-descripcion" class="col-10">
        <div class="field-wrap wrap-with-padding input-group">
          <label class="input-group-text control-label">
            Descripci&oacute;n
          </label>
          <input id="descripcion" class="form-control" name="descripcion" type="text" [(ngModel)]="domicilio.descripcion" />
        </div>
      </div>

      <div id="field-principal" class="col-2">
        <div class="field-wrap wrap-with-padding input-group">
          <label class="input-group-text control-label checkbox" [ngClass]="{'active': domicilio.principal}"
                 ngbButtonLabel>
            <input id="principal" name="principal" type="checkbox" [(ngModel)]="domicilio.principal" ngbButton>
            <span class="pl-1">Principal</span>
          </label>
        </div>
      </div>

    </div>
    <div class="row">

      <div id="field-calle" class="col-6">
        <div class="field-wrap wrap-with-padding input-group">
          <label class="input-group-text control-label">
            Calle *
          </label>
          <input id="calle" class="form-control" name="calle" type="text" [(ngModel)]="domicilio.calle" />
        </div>
      </div>

      <div id="field-nro" class="col-2">
        <div class="field-wrap wrap-with-padding input-group">
          <label class="input-group-text control-label">
            Nro. *
          </label>
          <input id="nro" class="form-control text-right" name="nro" type="text" [(ngModel)]="domicilio.nro" />
        </div>
      </div>

      <div id="field-piso" class="col-2">
        <div class="field-wrap wrap-with-padding input-group">
          <label class="input-group-text control-label">
            Piso
          </label>
          <input id="piso" class="form-control" name="piso" type="text" [(ngModel)]="domicilio.piso" />
        </div>
      </div>

      <div id="field-dpto" class="col-2">
        <div class="field-wrap wrap-with-padding input-group">
          <label class="input-group-text control-label">
            Dpto.
          </label>
          <input id="dpto" class="form-control" name="dpto" type="text" [(ngModel)]="domicilio.dpto" />
        </div>
      </div>

    </div>
    <div class="row">
      <div id="field-ciudad" class="col-6">
        <div class="field-wrap wrap-with-padding input-group">
          <ng-template #rt let-r="result" let-t="term">
            {{ r.nombre }} - {{ r.provincia.nombre }}
          </ng-template>
          <label class="input-group-text control-label">
            Ciudad *
          </label>
          <input id="ciudad" class="form-control" name="ciudad" type="text" [(ngModel)]="domicilio.ciudad"
                 [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" />
        </div>
      </div>

      <div id="field-provincia" class="col-6">
        <div class="field-wrap wrap-with-padding input-group">
          <label class="input-group-text control-label">
            Provincia
          </label>
          <input id="provincia" class="form-control" name="provincia" type="text" *ngIf="domicilio.ciudad.provincia"
                 [(ngModel)]="domicilio.ciudad.provincia.nombre" [disabled]="true" />
        </div>
      </div>

    </div>

  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary modal-btn" (click)="guardar()">Guardar</button>
  <button type="button" class="btn btn-outline-primary modal-btn" (click)="cerrar()">Cancelar</button>
</div>