<ng-template #rt let-r="result" let-t="term">
  <ngb-highlight [result]="r.descripcion" [term]="t"></ngb-highlight>
</ng-template>

<input #input id="typeahead" class="form-control" type="text" [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt"
  [inputFormatter]="formatter" (selectItem)="selectObject($event, input)">