<nav class="navbar fixed-top" *ngIf="isLoggedIn | async">
  <ul class="nav justify-content-start">
    <li class="nav-item">
      <span id="sinapsis-icon"></span>
    </li>
    <li id="brand" class="nav-item">
      <span>Sinapsis</span>
    </li>
  </ul>
  <ul class="nav justify-content-end">
    <li id="usuario" class="nav-item">
      <span class="nav-link disabled">Guille Avi</span>
    </li>
    <li id="logout" class="nav-item">
      <a class="nav-link" (click)="goto('Logout')">
        <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
      </a>
    </li>
  </ul>
</nav>
