@import '/../../../scss/custom';
.navbar {
  background-color: $nav-cl;
  border-bottom: 1px solid black;
}

li #sinapsis-icon {
  background: url("../../../assets/images/sinapsis.png");
  background-position-x: 0.5rem;
  background-position-y: 0;
  background-repeat: no-repeat;
  background-size: 54%;
}

li#brand {
  text-align: center;
}

li#usuario {
  color: $text-disabled-cl;
}

li#logout {
  cursor: pointer;
}

@include media-breakpoint-up(xs) {
  li #sinapsis-icon,
  li#brand,
  li#usuario,
  li#logout fa-icon {
    font-size: $font-medium;
  }
  li#usuario {
    font-weight: $normal;
    margin-top: 0;
  }
  li #sinapsis-icon {
    padding-left: 0;
  }
}

@include media-breakpoint-up(sm) {
  li #sinapsis-icon,
  li#brand,
  li#usuario,
  li#logout fa-icon {
    font-size: $font-medium;
  }
  li#usuario {
    font-weight: $normal;
    margin-top: 0;
  }
  li #sinapsis-icon {
    padding-left: 0;
  }
}

@include media-breakpoint-up(md) {
  li #sinapsis-icon,
  li#brand,
  li#logout fa-icon {
    font-size: $font-large;
  }
  li#usuario {
    font-size: $font-medium;
    font-weight: $bold;
    margin-top: 0.1rem;
  }
  li #sinapsis-icon {
    padding-left: 4rem;
  }
}

@include media-breakpoint-up(lg) {
  li #sinapsis-icon,
  li#brand,
  li#logout fa-icon {
    font-size: $font-large;
  }
  li#usuario {
    font-size: $font-medium;
    font-weight: $bold;
    margin-top: 0.1rem;
  }
  li #sinapsis-icon {
    padding-left: 4rem;
  }
}

@include media-breakpoint-up(xl) {
  li #sinapsis-icon,
  li#brand,
  li#logout fa-icon {
    font-size: $font-large;
  }
  li#usuario {
    font-size: $font-medium;
    font-weight: $bold;
    margin-top: 0.1rem;
  }
  li #sinapsis-icon {
    padding-left: 4rem;
  }
}
