<div class="mt-3" *ngIf="messageService.messages">
  <div *ngFor='let message of messageService.messages; trackBy: trackByFn'>
    <div class='alert alert-dismissible fade show' [ngClass]="{
    'alert-danger': message.type === 'error',
    'alert-warning': message.type === 'warning',
    'alert-success': message.type === 'success',
    'alert-primary': message.type === 'info'
  }"
         role="alert">
      {{ message.message }}
      <button type="button" class="close" data-dismiss="alert" (click)="dismiss(message)">
        <span>&times;</span>
      </button>
    </div>
  </div>
</div>