<form #f="ngForm" novalidate>

  <div class="row row-title">
    <div class="offset-2 col-8 d-flex justify-content-center">
      <label class="crud-title">{{ title }}</label>
    </div>
    <div class="col-2 d-flex justify-content-end">
      <app-crud-buttons [hasEntity]="personaId" [isReadOnly]="readOnly" [isValidForm]="validForm(false)" [delete]="true"
                        (status)="getStatus($event)" (validationRequired)="validForm($event)">
      </app-crud-buttons>
    </div>
  </div>

  <div class="row pt-2">
    <div id="field-nombre" class="col-6">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label">
          Nombre *
        </label>
        <input id="nombre" class="form-control" name="nombre" type="text" [(ngModel)]="persona.nombre" required="required"
               [disabled]="readOnly" />
      </div>
    </div>
    <div id="field-cliente" class="col-1">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label checkbox" ngbButtonLabel>
          <input id="cliente" name="cliente" type="checkbox" [(ngModel)]="persona.cliente" [disabled]="readOnly"
                 ngbButton>
          <span class="pl-1">Cliente</span>
        </label>
      </div>
    </div>
    <div id="field-proveedor" class="col-1">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label checkbox" ngbButtonLabel>
          <input id="proveedor" name="proveedor" type="checkbox" [(ngModel)]="persona.proveedor" [disabled]="readOnly"
                 ngbButton>
          <span class="pl-1">Proveedor</span>
        </label>
      </div>
    </div>
    <div id="field-codigo" class="offset-2 col-2">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label">
          C&oacute;digo
        </label>
        <input id="codigo" class="form-control text-right" name="codigo" type="text" [(ngModel)]="persona.id"
               [disabled]=true />
      </div>
    </div>
  </div>

  <div class="row pt-2">
    <div id="field-documento-tipo" class="col-3">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label" for="documento-tipo">
          Tipo Documento
        </label>
        <select id="documento-tipo" class="form-control" name="documento-tipo" [(ngModel)]="persona.documentoTipo"
                [compareWith]="compareFn" [disabled]="readOnly">
          <option *ngFor="let documentoTipo of documentoTipos; trackBy: trackByFn" [ngValue]="documentoTipo">
            {{ documentoTipo.descripcionReducida }}
          </option>
        </select>
      </div>
    </div>
    <div id="field-documento-nro" class="col-3">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label">
          Nro. Documento
        </label>
        <input id="documento-nro" class="form-control text-right" name="documento-nro" type="text" [(ngModel)]="persona.documentoNumero"
               [disabled]="readOnly" />
      </div>
    </div>
    <div id="field-estado" class="offset-4 col-2">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label" for="estado">
          Estado
        </label>
        <select id="estado" class="form-control" name="estado" [(ngModel)]="persona.estado" [compareWith]="compareFn"
                [disabled]="readOnly">
          <option *ngFor="let estado of estados; trackBy: trackByFn" [ngValue]="estado">
            {{ estado.descripcion }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row pt-4" *ngIf="persona.id">
    <div class="col-12">
      <ngb-accordion class="accordion-main" #acc="ngbAccordion">
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Datos Comerciales &nbsp; &nbsp;
              <fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon>
            </span>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-personas-comercial [persona]="persona"></app-personas-comercial>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Domicilios &nbsp; &nbsp;
              <fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon>
            </span>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-domicilios [persona]="persona"></app-domicilios>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Tel&eacute;fonos &nbsp; &nbsp;
              <fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon>
            </span>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-contactos [tipo]="1" [persona]="persona"></app-contactos>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Emails &nbsp; &nbsp;
              <fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon>
            </span>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-contactos [tipo]="2" [persona]="persona"></app-contactos>
          </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle>
            <span>Personas Relacionadas &nbsp; &nbsp;
              <fa-icon [icon]="['fas', 'angle-double-down']"></fa-icon>
            </span>
          </ng-template>
          <ng-template ngbPanelContent>
            <app-personas-relacionadas [persona]="persona"></app-personas-relacionadas>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  </div>
</form>