<form>
  <div class="row row-title">
    <div class="col-10 d-flex justify-content-center">
      <label class="crud-title">{{ title }}</label>
    </div>
    <div id="btn-new" class="col-2 text-right">
      <fa-icon class="button-huge" [icon]="['fas', 'plus-circle']" (click)="goto('PersonaCrudAdd',0)"></fa-icon>
    </div>
  </div>

  <div class="row mb-2">
    <div id="search-bar" class="col-12">
      <div class="input-group">
        <label class="input-group-text control-label">
          <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </label>
        <input #personaNombre class="form-control" name="search-bar" type="text" (keyup)="searchPersonas$.next(personaNombre.value)" />
      </div>
    </div>
  </div>

  <div class="row" *ngIf="personas">
    <div id="search-results" class="col-12">
      <table class="table">
        <tbody>
          <tr *ngFor="let persona of personas; trackBy: trackByFn" (click)="goto('PersonaCrudEdit',persona.id)">
            <td>
              {{ persona.nombre }}
            </td>
            <td>
              {{ persona.domicilioPrincipal }}
            </td>
            <td>
              {{ persona.telefonoPrincipal }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>