<div class="modal-header">
  <h3 class="modal-title">Personas Relacionadas</h3>
</div>

<div class="modal-body">
  <form #f="ngForm" novalidate>

    <div class="row no-gutters justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <app-messages></app-messages>
      </div>
    </div>

    <div class="row">

      <div class="col-6" id="field-principal" [hidden]='isMe(relacion.personaPrincipal.id)'>
        <div class="field-wrap wrap-with-padding input-group">
          <label class="input-group-text control-label">
            Persona Relacionada
          </label>
          <ng-template #rt let-r="result" let-t="term">
            {{ r.nombre }}
          </ng-template>
          <input id="persona-principal" class="form-control" name="persona-principal" type="text" [(ngModel)]="relacion.personaPrincipal"
                 [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" />
        </div>
      </div>

      <div class="col-6" id="field-relacionada" [hidden]='isMe(relacion.personaRelacionada.id)'>
        <div class="field-wrap wrap-with-padding input-group">
          <label class="input-group-text control-label">
            Persona Relacionada
          </label>
          <ng-template #rt let-r="result" let-t="term">
            {{ r.nombre }}
          </ng-template>
          <input id="persona-relacionada" class="form-control" name="persona-relacionada" type="text" [(ngModel)]="relacion.personaRelacionada"
                 [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" />
        </div>
      </div>

      <div class="col-6" id="field-relacion-tipo">
        <div class="field-wrap wrap-with-padding input-group">
          <label class="input-group-text control-label" for="relacion">
            Tipo de Relaci&oacute;n
          </label>
          <select id="relacion" class="form-control" name="relacion" [(ngModel)]="relacion.tipo" [compareWith]="compareFn">
            <option *ngFor="let relacionTipo of relacionTipos; trackBy: trackByFn" [ngValue]="relacionTipo">
              {{ relacionTipo.descripcion }}
            </option>
          </select>
        </div>
      </div>

    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-primary modal-btn" (click)="guardar()">Guardar</button>
  <button type="button" class="btn btn-outline-primary modal-btn" (click)="cerrar()">Cancelar</button>
</div>