<div class="row" *ngIf="productos">
  <div class="input-group">
    <div class="col-3">
      <input #cantidadInput id="cantidad" class="form-control" type="number" [(ngModel)]="cantidad"/>
    </div>
    <div class="col-9 pl-4">
      <ng-template #rt let-r="result" let-t="term">
        <ngb-highlight [result]="r.descripcion" [term]="t"></ngb-highlight>
      </ng-template>
      <input #descripcionInput id="typeahead" class="form-control" type="text" [(ngModel)]="model" [ngbTypeahead]="search"
        [resultTemplate]="rt" [inputFormatter]="formatter" (selectItem)="selectObject($event, descripcionInput, cantidadInput)" />
    </div>
  </div>
</div>