<div class="row">
  <div class="offset-10 col-2 d-flex justify-content-end">
      <app-crud-buttons [hasEntity]="persona.id" [isReadOnly]="readOnly" [isValidForm]="true" (status)="getStatus($event)"></app-crud-buttons>
  </div>
</div>

<div class="row">

  <div id="field-iva-tipo" class="col-3">
    <div class="field-wrap input-group">
      <label class="input-group-text control-label" for="iva-tipo">
        Tipo IVA
      </label>
      <select id="iva-tipo" class="form-control" name="iva-tipo" [(ngModel)]="personaComercial.ivaTipo" [compareWith]="compareFn"
        [disabled]="readOnly">
        <option *ngFor="let ivaTipo of ivaTipos; trackBy: trackByFn" [ngValue]="ivaTipo">
          {{ ivaTipo.descripcion }}
        </option>
      </select>
    </div>
  </div>

  <div id="field-forma-pago" class="col-3">
    <div class="field-wrap input-group">
      <label class="input-group-text control-label" for="forma-pago">
        Forma de Pago
      </label>
      <select id="forma-pago" class="form-control" name="forma-pago" [(ngModel)]="personaComercial.pagoForma" [compareWith]="compareFn"
        [disabled]="readOnly">
        <option *ngFor="let pagoForma of pagoFormas; trackBy: trackByFn" [ngValue]="pagoForma">
            {{ pagoForma.descripcion }}
        </option>
      </select>
    </div>
  </div>

  <div id="field-forma-pago" class="col-3">
    <div class="field-wrap input-group">
      <label class="input-group-text control-label" for="lista-precios">
        Lista de Precios
      </label>
      <select id="lista-precios" class="form-control" name="lista-precios" [(ngModel)]="personaComercial.precioLista" [compareWith]="compareFn"
        [disabled]="readOnly">
        <option *ngFor="let precioLista of precioListas; trackBy: trackByFn" [ngValue]="precioLista">
            {{ precioLista.descripcion }}
        </option>
      </select>
    </div>
  </div>

  <div id="field-descuento" class="col-2">
    <div class="field-wrap input-group">
      <label class="input-group-text control-label">
        Dto. %
      </label>
      <input id="descuento" class="form-control text-right" name="descuento" type="text" [(ngModel)]="personaComercial.descuento"
        [disabled]="readOnly" />
    </div>
  </div>

</div>