<div id="crud-form">
  <div [hidden]="!isReadOnly">
    <a (click)="changeStatus('edit')">
      <fa-icon [icon]="['fas', 'edit']"></fa-icon>
    </a>
    <a (click)="changeStatus('delete')" [hidden]="!delete">
      <fa-icon [icon]="['fas', 'trash']"></fa-icon>
    </a>
  </div>
  <div [hidden]="isReadOnly">
    <a (click)="changeStatus('save')">
      <fa-icon class="save-icon" [icon]="['fas', 'save']"></fa-icon>
    </a>
    <a (click)="changeStatus('cancel')" [hidden]="hasEntity===0">
      <fa-icon class="cancel-icon" [icon]="['fas', 'ban']"></fa-icon>
    </a>
  </div>
</div>
