@import '/../../../scss/custom';

#crud-form fa-icon {
  color: $button-icon;
  cursor: pointer;
  font-size: $font-large;
  padding-right: 1rem;
  &:focus,
  &:hover {
    color: white;
  }
}

#crud-form fa-icon.cancel-icon {
  &:focus,
  &:hover {
    color: red;
  }
}

#crud-form fa-icon.save-icon {
  &:focus,
  &:hover {
    color: green;
  }
}
