<form #f="ngForm" novalidate>

  <div class="row row-title">
    <div class="offset-2 col-8 d-flex justify-content-center">
      <label class="crud-title">{{ title }}</label>
    </div>
    <div class="col-2 d-flex justify-content-end">
      <app-crud-buttons [hasEntity]="remitoId" [isReadOnly]="readOnlyObservaciones" [isValidForm]="validForm(false)"
                        [delete]="false" (status)="getStatus($event)" (validationRequired)="validForm($event)">
      </app-crud-buttons>
    </div>
  </div>

  <div class="row pt-2">
    <div id="field-proveedor" class="col-4">
      <div class="field-wrap input-group" *ngIf="proveedores">
        <label class="input-group-text control-label" for="select-proveedor">
          Proveedor *
        </label>
        <select id="select-proveedor" class="form-control" name="proveedor" [(ngModel)]="remito.proveedor" (change)="obtenerOrdenesCompraEmitidas()"
                [compareWith]="compareFn" required="required" [disabled]="readOnly">
          <option *ngFor="let proveedor of proveedores; trackBy: trackByFn" [ngValue]="proveedor">
            {{ proveedor.nombre }}
          </option>
        </select>
      </div>
    </div>

    <div id="field-comprobante" class="col-2">
      <div class="field-wrap input-group" *ngIf="comprobanteTipos">
        <label class="input-group-text control-label" for="select-comprobante">
          Tipo *
        </label>
        <select id="select-comprobante" class="form-control" name="comprobante" [(ngModel)]="remito.comprobanteTipo"
                [compareWith]="compareFn" required="required" [disabled]="readOnly">
          <option *ngFor="let comprobanteTipo of comprobanteTipos; trackBy: trackByFn" [ngValue]="comprobanteTipo">
            {{ comprobanteTipo.letra }}
          </option>
        </select>
      </div>
    </div>

    <div id="field-puesto" class="offset-2 col-2">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label">
          Puesto *
        </label>
        <input id="remito-puesto" class="form-control text-right" name="remitoPuesto" type="text" [(ngModel)]="remito.puestoId"
               required="required" [disabled]="readOnly" />
      </div>
    </div>

    <div id="field-remito" class="col-2">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label">
          # Remito *
        </label>
        <input id="remito-numero" class="form-control text-right" name="remitoNumero" type="text" [(ngModel)]="remito.numero"
               required="required" [disabled]="readOnly" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">

      <div class="row">
        <div id="field-fecha" class="col-3">
          <div class="field-wrap">
            <label>
              Fecha
            </label>
            <div class="input-group">
              <button class="btn btn-outline-secondary control-label" (click)="d.toggle()" type="button" [disabled]="readOnly">
                <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon> *
              </button>
              <input id="fecha" class="form-control" name="fecha" [ngModel]="model" (ngModelChange)="onSelectDate($event)"
                     ngbDatepicker #d="ngbDatepicker" required="required" [disabled]="readOnly" autocomplete="off"
                     readOnly>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="!readOnly && !showSeries">
        <div class="col-12">
          <div class="field-wrap">
            <label>
              Productos
            </label>
            <div class="input-group">
              <app-type-ahead-productos (selectedObject)="agregarProducto($event)"></app-type-ahead-productos>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-4">

      <div class="row">
        <div class="col-12">
          <div class="field-wrap">
            <label>
              Observaciones
            </label>
            <textarea id="observaciones" class="form-control" name="observaciones" type="text" [(ngModel)]="remito.observaciones"
                      [disabled]="readOnlyObservaciones"> </textarea>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-12" *ngIf="remito.items">
          <button type="button" class="btn btn-outline-primary toggle" *ngIf="!showSeries" (click)="toggleSeries()">Ver
            Nros. Serie</button>
          <button type="button" class="btn btn-outline-primary toggle" *ngIf="showSeries" (click)="toggleSeries()">Ver
            Items</button>
        </div>
      </div>

    </div>
  </div>

  <div class="row" *ngIf="remito.items && !showSeries">
    <div class="col-8">
      <div class="row" *ngFor="let item of remito.items; let in = index; trackBy: trackByFn">

        <div class="col-2">
          <div class="input-group">
            <input id="cantidad" name="cantidad-{{ in }}" class="form-control" type="number" [(ngModel)]="item.cantidad"
                   [disabled]="readOnly" />
          </div>
        </div>
        <div class="col-4">
          <label class="sub-title">{{ item.producto.descripcion }}</label>
        </div>
        <div class="col-1" *ngIf="!readOnly">
          <a (click)="quitarProducto(item)">
            <fa-icon class="button-normal" [icon]="['fas', 'trash-alt']"></fa-icon>
          </a>
        </div>
        <div class="col-3" *ngIf="item.ordenCompra">
          <div class="input-group">
            <label class="input-group-text control-label complete-radius">
              # Orden: 000{{ item.ordenCompra.puesto }} - 0000000{{ item.ordenCompra.numero }}
            </label>
          </div>
        </div>
        <div class="col-2" *ngIf="item.ordenCompra">
          <div class="input-group">
            <label class="input-group-text control-label complete-radius">
              Cant: {{ item.cantidadOrdenCompra }}
            </label>
          </div>
        </div>

      </div>
    </div>
    <div class="col-4" [hidden]="!(ordenesCompraEmitidas && ordenesCompraEmitidas.length > 0)">
      <div class="row">
        <div class="col-12">
          <label class="sub-title">
            &Oacute;rdenes de Compra
          </label>
        </div>
      </div>

      <div class="row" *ngFor="let orden of ordenesCompraEmitidas; let ioc = index; trackBy: trackByFn">
        <div class="col-12">
          <div class="input-group">
            <label class="input-group-text control-label checkbox" for="orden-emitida-{{ioc}}" ngbButtonLabel>
              <input id="orden-emitida-{{ioc}}" name="orden-emitida-{{ioc}}" type="checkbox" [(ngModel)]="ordenesCompraEmitidas[ioc].seleccionada"
                     (change)="relacionarOrdenCompra(orden)" [disabled]="readOnly" ngbButton>
              <span class="pl-1">
                {{ orden.puesto }} - {{ orden.numero }}
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" [hidden]="!(remito.items && showSeries)">
    <div class="col-4">

      <div class="input-group" *ngFor="let item of remito.items; let ins = index; trackBy: trackByFn">
        <label class="input-group-text control-label checkbox" for="item-serie-{{ins}}" ngbButtonLabel>
          <input id="item-serie-{{ins}}" name="item-serie" type="radio" (change)="seleccionarItem(item)">
          <span class="pl-1">
            {{ item.cantidad }} - {{ item.producto.descripcion }}
            <span *ngIf="item.numerosSerie"># Serie: {{ item.numerosSerie.length }}</span>
          </span>
        </label>
      </div>

    </div>

    <div class="col-4" *ngIf="itemSeleccionado && itemSeleccionado.id">

      <div class="row" *ngIf="faltanSeries() && !readOnly">
        <div class="field-wrap input-group">
          <input id="nuevo-serie" class="form-control" name="nuevo-serie" [(ngModel)]="nuevoSerie">
          <fa-icon class="button-normal pl-3" [icon]="['fas', 'plus-circle']" (click)="agregarSerie()"></fa-icon>
        </div>
      </div>

      <div class="row" *ngFor="let serie of itemSeleccionado.numerosSerie">
        <div class="field-wrap">
          <label>
            {{ serie }} <fa-icon class="button-normal pl-3" [icon]="['fas', 'trash']" *ngIf="!readOnly" (click)="eliminarSerie(serie)"></fa-icon>
          </label>
        </div>
      </div>

    </div>
  </div>
</form>