<div class="modal-header">
  <h3 class="modal-title" *ngIf="tipo===1">Tel&eacute;fono</h3>
  <h3 class="modal-title" *ngIf="tipo===2">Emails</h3>
</div>

<div class="modal-body">
  <form #f="ngForm" novalidate>

    <div class="row no-gutters justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <app-messages></app-messages>
      </div>
    </div>
    <div class="row">

      <div id="field-descripcion" class="col-6">
        <div class="field-wrap wrap-with-padding input-group">
          <label class="input-group-text control-label">
            Descripci&oacute;n
          </label>
          <input id="descripcion" class="form-control" name="descripcion" type="text" [(ngModel)]="contacto.descripcion"/>
        </div>
      </div>

      <div id="field-tipo" class="col-6">
        <div class="field-wrap wrap-with-padding input-group">
          <label class="input-group-text control-label" *ngIf="tipo==1">
            Nro.
          </label>
          <label class="input-group-text control-label" *ngIf="tipo==2">
            Email
          </label>
          <input id="tipo" class="form-control text-right" name="tipo" type="text" [(ngModel)]="contacto.contacto"/>
        </div>
      </div>

    </div>
  </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary modal-btn" (click)="guardar()">Guardar</button>
    <button type="button" class="btn btn-outline-primary modal-btn" (click)="cerrar()">Cancelar</button>
  </div>