<nav>
  <ul id="icon-list" class="row list-unstyled">
    <li class="col-md-12 col-6">
      <a (click)="goto('PersonaSearch')">
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
        <span>Personas</span>
      </a>
    </li>
    <li class="col-md-12 col-6">
      <a>
        <fa-icon [icon]="['fas', 'cart-plus']"></fa-icon>
        <span>Ventas</span>
      </a>
    </li>
    <li class="col-md-12 col-6">
      <a (click)="toggle('Compras')">
        <fa-icon [icon]="['fas', 'clipboard-list']"></fa-icon>
        <span>Compras</span>
      </a>
    </li>
    <li class="col-md-12 col-6" *ngIf="expandCompras">
      <a class="secondary-menu" (click)="goto('OrdenComprasSearch')">
        <span>&Oacute;rdenes</span>
      </a>
    </li>
    <li class="col-md-12 col-6" *ngIf="expandCompras">
      <a class="secondary-menu" (click)="goto('RemitosProveedorSearch')">
        <span>Remitos</span>
      </a>
    </li>
    <!-- <li class="col-md-12 col-6" *ngIf="expandCompras">
      <a class="secondary-menu" (click)="goto('FacturasProveedorSearch')">
        <span>Facturas</span>
      </a>
    </li>
    <li class="col-md-12 col-6" *ngIf="expandCompras">
      <a class="secondary-menu" (click)="goto('')">
        <span>Pagos</span>
      </a>
    </li> -->
    <li class="col-md-12 col-6">
      <a (click)="goto('ProductoSearch')">
        <fa-icon [icon]="['fas', 'boxes']"></fa-icon>
        <span>Stock</span>
      </a>
    </li>
    <li class="col-md-12 col-6">
      <a>
        <fa-icon [icon]="['fas', 'wrench']"></fa-icon>
        <span>Soporte</span>
      </a>
    </li>
    <li class="col-md-12 col-6">
      <a>
        <fa-icon [icon]="['fas', 'truck']"></fa-icon>
        <span>Domicilios</span>
      </a>
    </li>
    <li class="col-md-12 col-6">
      <a>
        <fa-icon [icon]="['fas', 'chart-line']"></fa-icon>
        <span>Gerencia</span>
      </a>
    </li>
    <!-- <li>
      <a class="no-hover">
        <i></i>
        <span></span>
      </a>
    </li>
    <li>
      <a class="no-hover">
        <i></i>
        <span></span>
      </a>
    </li> -->
  </ul>
</nav>