@import '/../../../scss/custom';

#icon-list>li {
  cursor: pointer;
  text-align: center;
}

#icon-list>li a {
  display: block;
  padding: 1.5rem 0.5rem;
}

#icon-list span {
  display: block;
  font-size: $font-xsmall;
}

#icon-list a:focus,
#icon-list a:hover {
  background-color: $hover-cl;
  border: 1px solid $nav-cl;
}

#icon-list a.no-hover:hover {
  background-color: $nav-cl;
  cursor: default;
}

#icon-list a.secondary-menu {
  background-color: $hover-cl;
  border-bottom: 1px solid $nav-cl;
}
