<app-nav></app-nav>

<div class="row no-gutters" *ngIf="(isLoggedIn | async); else loggedIn">
  <div id="icon-menu" class="col-xl-1 col-lg-1 col-md-1 col-12">
    <app-menu-bar></app-menu-bar>

  </div>

  <div class="col-11">
    <div class="row no-gutters justify-content-center">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <app-messages></app-messages>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="pl-5 pr-5 pt-2 col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<ng-template #loggedIn>
  <app-login></app-login>
</ng-template>
