

<!-- https://ng-bootstrap.github.io/#/components/modal/examples  -->
<div class="modal-header">
  <h4 class="modal-title">Anadir Evento</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Clicked date {{ date }}!</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>


<div id="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Acci&oacute;n disparada</h3>
    </div>

    <div class="modal-body">
        <p>Acci&oacute;n:</p>
        <pre>{{ vm.action }}</pre>

        <p>Evento:</p>
        <pre>{{ vm.event | json }}</pre>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close()">OK</button>
    </div>

    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input type="text" ng-model="movie.title"
                   class="form-control"
                   id="title"
                   placeholder="Movie Title Here"/>
        </div>
    </div>
    <div class="form-group">
        <label for="year" class="col-sm-2 control-label">
            Release Year</label>
        <div class="col-sm-10">
            <input type="text"
                   ng-model="movie.releaseYear"
                   class="form-control"
                   id="year"
                   placeholder="When was the movie released?"/>
        </div>
    </div>
    <div class="form-group">
        <label for="director" class="col-sm-2 control-label">Director</label>
        <div class="col-sm-10">
            <input type="text"
                   ng-model="movie.director"
                   class="form-control"
                   id="director"
                   placeholder="Who directed the movie?"/>
        </div>
    </div>
    <div class="form-group">
        <label for="plot" class="col-sm-2 control-label">Movie Genre</label>
        <div class="col-sm-10">
            <input type="text" ng-model="movie.genre"
                   class="form-control"
                   id="plot"
                   placeholder="Movie genre here"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" value="Save"/>
        </div>
    </div>


</div>
