<form>
  <div class="row row-title">
    <div class="col-10 d-flex justify-content-center">
      <label class="crud-title">{{ title }}</label>
    </div>
    <div id="btn-new" class="col-2 text-right">
      <fa-icon class="button-huge" [icon]="['fas', 'plus-circle']" (click)="goto('FacturaCrudAdd',0)"></fa-icon>
    </div>
  </div>

  <div class="row mb-2">
    <div id="filter-proveedor" class="col-3">
      <div class="input-group" *ngIf="proveedores">
        <label class="input-group-text control-label" for="select-proveedor">
          Proveedor
        </label>
        <select id="select-proveedor" class="form-control" name="proveedor" [(ngModel)]="proveedorSeleccionado"
          [compareWith]="compareFn">
          <option *ngFor="let proveedor of proveedores; trackBy: trackByFn" [ngValue]="proveedor">
            {{ proveedor.nombre }}
          </option>
        </select>
      </div>
    </div>

    <div id="filter-fecha" class="col-2">
      <div class="input-group">
        <button class="btn btn-outline-secondary control-label" (click)="d.toggle()" type="button" data-toggle="tooltip"
          data-placement="top" title="Fecha">
          <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
        </button>
        <input class="form-control" name="fecha" [(ngModel)]="fechaSeleccionada" ngbDatepicker #d="ngbDatepicker">
      </div>
    </div>

    <div id="filter-factura" class="offset-5 col-2">
      <div class="input-group">
        <label class="input-group-text control-label">
          # Factura
        </label>
        <input #facturaNro class="form-control" name="factura" type="text" [(ngModel)]="numeroSeleccionado" />
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div id="btn-search" class="col-12 text-right">
      <fa-icon class="button-normal pr-3" [icon]="['fas', 'search-plus']" (click)="buscar()"></fa-icon>
      <fa-icon class="button-normal pl-2" [icon]="['fas', 'eraser']" (click)="limpiar()"></fa-icon>
    </div>
  </div>

  <div class="row" *ngIf="facturas">
    <div id="search-results" class="col-11">
      <table class="table">
        <thead>
          <th class="col-4 col-left">
            Proveedor
          </th>
          <th class="col-2 col-left">
            Fecha
          </th>
          <th class="col-1 col-center">
            # Factura
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let factura of facturas; trackBy: trackByFn">
            <td class="col-left" (click)="goto('FacturaCrudEdit', factura.id)">
              {{ factura.proveedor.nombre }}
            </td>
            <td class="col-left" (click)="goto('FacturaCrudEdit', factura.id)">
              {{ factura.fecha }}
            </td>
            <td class="col-center" (click)="goto('FacturaCrudEdit', factura.id)">
              {{ factura.puesto }}-{{ factura.numero }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>