<form #f="ngForm" novalidate>

  <div class="row row-title">
    <div class="col-2">
      <fa-icon class="button-normal pr-3" *ngIf="hasOrdenCompra" [icon]="['fas', 'copy']" (click)="clonar()"
               data-toggle="tooltip" data-placement="bottom" title="Clonar"></fa-icon>
      <fa-icon class="button-normal pl-3" *ngIf="hasOrdenCompra && ordenCompra && ordenCompra.estado && ordenCompra.estado.id === 1000"
               [icon]="['fas', 'share-square']" (click)="emitir()" data-toggle="tooltip" data-placement="bottom" title="Emitir"></fa-icon>
    </div>
    <div class="col-8 d-flex justify-content-center">
      <label class="crud-title">{{ title }}</label>
    </div>
    <div class="col-2 d-flex justify-content-end" *ngIf="crudHabilitado()">
      <app-crud-buttons [hasEntity]="ocId" [isReadOnly]="readOnly" [isValidForm]="validForm(false)" [delete]="true"
                        (status)="getStatus($event)" (validationRequired)="validForm($event)">
      </app-crud-buttons>
    </div>
  </div>

  <div class="row pt-2">
    <div id="field-proveedor" class="col-4">
      <div class="field-wrap input-group" *ngIf="proveedores">
        <label class="input-group-text control-label" for="select-proveedor">
          Proveedor *
        </label>
        <select id="select-proveedor" class="form-control" name="proveedor" [(ngModel)]="ordenCompra.proveedor"
                [compareWith]="compareFn" required="required" [disabled]="readOnly">
          <option *ngFor="let proveedor of proveedores; trackBy: trackByFn" [ngValue]="proveedor">
            {{ proveedor.nombre }}
          </option>
        </select>
      </div>
    </div>

    <div id="field-puesto" class="offset-4 col-2">
      <div class="field-wrap input-group" *ngIf="ordenCompra.puesto">
        <label class="input-group-text control-label">
          Puesto
        </label>
        <input id="orden-puesto" class="form-control text-right" name="ordenPuesto" type="text" [(ngModel)]="ordenCompra.puesto.codigoDescripcion"
               [disabled]="true" />
      </div>
    </div>

    <div id="field-orden" class="col-2">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label">
          # Orden
        </label>
        <input id="orden-numero" class="form-control text-right" name="ordenNumero" type="text" [(ngModel)]="ordenCompra.numero"
               [disabled]="true" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">

      <div class="row">
        <div id="field-creacion" class="col-3">
          <div class="field-wrap">
            <label>
              Fecha de Creaci&oacute;n
            </label>
            <div class="input-group">
              <label class="input-group-text control-label">
                <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
              </label>
              <input id="fecha-creacion" class="form-control" name="fechaCreacion" type="text" [(ngModel)]="ordenCompra.fechaCreacion"
                     [disabled]="true" />
            </div>
          </div>
        </div>

        <div id="field-entrega" class="col-3">
          <div class="field-wrap">
            <label>
              Fecha de Entrega
            </label>
            <div class="input-group">
              <button class="btn btn-outline-secondary control-label" (click)="d.toggle()" type="button" [disabled]="readOnly">
                <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
              </button>
              <input id="fecha-entrega" class="form-control" name="fechaEntrega" [ngModel]="model" (ngModelChange)="onSelectDate($event)"
                     ngbDatepicker #d="ngbDatepicker" [disabled]="readOnly" autocomplete="off" readOnly>
            </div>
          </div>
        </div>

        <div id="field-estado" class="col-3">
          <div class="field-wrap">
            <label>&nbsp;</label>
            <div class="input-group" *ngIf="ordenCompra.estado">
              <label class="input-group-text control-label" for="select-estado">
                Estado
              </label>
              <input id="estado" class="form-control" name="estado" type="text" [(ngModel)]="ordenCompra.estado.descripcion"
                     [disabled]="true" />
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="!readOnly">
        <div class="col-12">
          <div class="field-wrap">
            <label>
              Productos
            </label>
            <div class="input-group">
              <app-type-ahead-productos (selectedObject)="agregarProducto($event)"></app-type-ahead-productos>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-4">

      <div class="row">
        <div class="col-12">
          <div class="field-wrap">
            <label>
              Observaciones
            </label>
            <textarea id="observaciones" class="form-control" name="observaciones" type="text" [(ngModel)]="ordenCompra.observaciones"
                      [disabled]="readOnly"> </textarea>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row" *ngIf="ordenCompra.items">
    <div class="col-12">
      <div class="row" *ngFor="let item of ordenCompra.items; let in = index; trackBy: trackByFn">

        <div class="col-1">
          <div class="input-group">
            <input id="cantidad" name="cantidad-{{ in }}" class="form-control" type="number" [(ngModel)]="item.cantidad"
                   [disabled]="readOnly" />
          </div>
        </div>
        <div class="col-3">
          <label class="sub-title">{{ item.producto.descripcion }} <span class="gray-text"> ({{item.estado.descripcion}})</span></label>
        </div>
        <div class="col-2">
          <div class="input-group">
            <label class="input-group-text control-label">
              $
            </label>
            <input id="precio" name="precio-{{ in }}" class="form-control" type="text" [(ngModel)]="item.precio"
                   [disabled]="readOnly" />
          </div>
        </div>
        <div class="col-1" *ngIf="!readOnly">
          <a (click)="quitarProducto(item)">
            <fa-icon class="button-normal" [icon]="['fas', 'trash-alt']"></fa-icon>
          </a>
        </div>

      </div>
    </div>
  </div>
</form>