<ngx-spinner></ngx-spinner>

<form>
  <div class="row row-title">
    <div class="col-10 d-flex justify-content-center">
      <label class="crud-title">{{ title }}</label>
    </div>
    <div id="btn-new" class="col-2 text-right">
      <fa-icon class="button-huge" [icon]="['fas', 'plus-circle']" (click)="goto('ProductoCrudAdd',0)"></fa-icon>
    </div>
  </div>

  <div class="row mb-4">
    <div id="filter-descripcion" class="col-8">
      <div class="input-group">
        <label class="input-group-text control-label">
          <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </label>
        <input class="form-control" name="descripcion" type="text" [(ngModel)]="productoDescripcion" (keyup.enter)="buscar()" />
      </div>
    </div>

    <div id="field-disponible" class="col-3">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label checkbox mr-3" ngbButtonLabel>
          <input id="stock-disponible" name="stock-disponible" type="checkbox" [(ngModel)]="conStockDisponible"
                 (change)="buscar()" ngbButton>
          <span class="pl-1">Stock Disponible</span>
        </label>
        <label class="input-group-text control-label checkbox" ngbButtonLabel>
          <input id="stock-entrante" name="stock-entrante" type="checkbox" [(ngModel)]="conStockEntrante" (change)="buscar()"
                 ngbButton>
          <span class="pl-1">Stock Entrante</span>
        </label>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="productos">
    <div id="search-results" class="col-11">
      <table class="table">
        <thead>
          <th class="col-3 col-left">
            Descripci&oacute;n
          </th>
          <th class="col-1 col-center">
            Entrante
          </th>
          <th class="col-1 col-center">
            Disponible
          </th>
          <th class="col-1 col-center">
            En Uso
          </th>
          <th class="col-1 col-center">
            Lista 1
          </th>
          <th class="col-1 col-center">
            Lista 2
          </th>
          <th class="col-1 col-center">
            Lista 3
          </th>
          <th class="col-1 col-center">
            Lista 4
          </th>
          <th class="col-1 col-center">
            Lista 5
          </th>
          <th class="col-1 col-center">
            Lista 6
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos; trackBy: trackByFn">
            <td class="col-left" (click)="goto('ProductoCrudEdit', producto.id)">
              {{ producto.descripcion }}
            </td>
            <td class="col-center" (click)="goto('ProductoCrudEdit', producto.id)">
              {{ producto.stockEntrante }}
            </td>
            <td class="col-center" (click)="goto('ProductoCrudEdit', producto.id)">
              {{ producto.stockDisponible }}
            </td>
            <td class="col-center" (click)="goto('ProductoCrudEdit', producto.id)">
              {{ producto.stockTransito }}
            </td>
            <td class="col-center" (click)="goto('ProductoCrudEdit', producto.id)">
              ${{ producto.lista1SinIva }} ${{ producto.lista1ConIva }}
            </td>
            <td class="col-center" (click)="goto('ProductoCrudEdit', producto.id)">
              ${{ producto.lista2SinIva }} ${{ producto.lista2ConIva }}
            </td>
            <td class="col-center" (click)="goto('ProductoCrudEdit', producto.id)">
              ${{ producto.lista3SinIva }} ${{ producto.lista3ConIva }}
            </td>
            <td class="col-center" (click)="goto('ProductoCrudEdit', producto.id)">
              ${{ producto.lista4SinIva }} ${{ producto.lista4ConIva }}
            </td>
            <td class="col-center" (click)="goto('ProductoCrudEdit', producto.id)">
              ${{ producto.lista5SinIva }} ${{ producto.lista5ConIva }}
            </td>
            <td class="col-center" (click)="goto('ProductoCrudEdit', producto.id)">
              ${{ producto.lista6SinIva }} ${{ producto.lista6ConIva }}
            </td>
          </tr>
        </tbody>
      </table>
      <div class="no-result" *ngIf="!productos || (productos && productos.length == 0)">
        Sin resultados
      </div>
    </div>
  </div>
</form>