<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Historial de Costos</h3>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="column col-md-12 col-sm-12 col-xs-12">
        <table class="table table-hover table-sm table-dark nested-component-table">
          <thead class="table-header">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Proveedor</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Costo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let costo of costos; trackBy: trackByFn">
              <td>{{ costo.fecha }}</td>
              <td>{{ costo.proveedor.nombre }}</td>
              <td>{{ costo.cantidad }}</td>
              <td>{{ costo.costo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" (click)="cerrar()">CERRAR</button>
  </div>
</div>
