<div class="row">
  <div class="offset-11 col-1 d-flex justify-content-end">
    <a (click)="openModal(0)">
      <fa-icon class="click-icon" [icon]="['fas', 'plus-circle']"></fa-icon>
    </a>
  </div>
</div>

<div class="row">
  <div id="search-results" class="col-12">
    <table class="table">
      <thead class="table-xsmall-font">
        <th scope="col">Persona Relacionada</th>
        <th scope="col">Tipo de Relaci&oacute;n</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </thead>
      <tbody class="table-xxsmall-font">
        <tr class="no-pointer" *ngFor="let relacion of personasRelacionadas; trackBy: trackByFn">
          <td>{{ relacion.personaRelacionada.nombre }}</td>
          <td>{{ relacion.tipo.descripcion }}</td>
          <td class="col-1">
            <a (click)="openModal(relacion.id)">
              <fa-icon class="click-icon" [icon]="['fas', 'edit']"></fa-icon>
            </a>
          </td>
          <td class="col-1">
            <a (click)="eliminarPersonaRelacionada(relacion.id)">
              <fa-icon class="click-icon" [icon]="['fas', 'trash']"></fa-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>