<p>
  <!--  calendar works!
  https://github.com/mattlewis92/angular-calendar
  https://ng-bootstrap.github.io/#/getting-started
  https://ng-bootstrap.github.io/#/components/modal/examples
-->
  <!--  <app-modal-add-event></app-modal-add-event> -->
</p>

<mwl-calendar-month-view [viewDate]="viewDate" [events]="events" (dayClicked)="clickedDate = $event.day.date; dayClickModal($event.day.date)">
  >
</mwl-calendar-month-view>
