// Bootstrap colors
$body-bg: #272B30;
$body-color: #FFFFFF;
$input-bg: #232323;
$input-color: #FFFFFF;
// Bootstrap fonts
$font-family-sans-serif: Roboto,
sans-serif;
$font-size-base: 1.2rem;
// Bootstrap borders
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
@import '../../node_modules/bootstrap/scss/bootstrap';
// Colors
$border-cl: #FFFFFF;
$button-icon: #858C92;
$button-main-cl: #1AB188;
$button-main-dark-cl: darken($button-main-cl, 5%);
$field-bg-cl: #232323;
$field-disable-cl: rgba($field-bg-cl, .3);
$form-cl: #3A3F44;
$hover-cl: #232323;
$nav-cl: #3A3F44;
$req-cl: #1AB188;
$table-hover-bg: #3A3F44;
$table-hover-txt: #232323;
$table-text:#858C92;
$text-field-cl: #FFFFFF;
$text-disabled-cl: #858C92;
// Font sizes
$font-xxsmall: 0.6rem;
$font-xsmall: 0.9rem;
$font-small: 1rem;
$font-medium: 1.25rem;
$font-large: 1.5rem;
$font-xlarge: 1.75rem;
$font-xxlarge: 2rem;
$font-huge: 3rem;
// Margins & Paddings
$margin-normal: 2rem;
$padding-small: 1rem;
$padding-normal: 2rem;
$padding-large: 3rem;
// Radius
$form-radio: 4px;
// Shadows
$shw-offset-x: 0;
$shw-offset-y: 4px;
$shw-blur: 10px;
$shw-spread: 4px;
$shw-color: rgba($form-cl, .3);
// Fonts weights
$thin: 300;
$normal: 400;
$bold: 600;
//
//
//
$menu-cl: #1B1E22;
$body-cl: #272B30;
$error-cl: #F00;
//Boders
$input-border: 1px solid #A0B3B0;
$input-radio: 10px;
$no-radius: 0;
// Icons
$input-left-pad: 35px;
/////
$body-bg: #121212; //#777777 dark gray
$form-bg: #232323; //#13232F
$card-bg: #474747; //#13232F
$form-trans: 0.9; //background transparency 0.9
$main: #1AB188; // colorful elements
$text-1: #FFFFFF; //#FFFFFF white
$text-2: white; //#777777 dark gray
$text-3: white; //black
//Sizes
//border-radius 4px
$nav-text-size: 25px; //25px
// $icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
