// @import '../../node_modules/angular-calendar/css/angular-calendar.css';
// @import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import 'custom';

// main
body {
  padding-top: 4.35rem
}

form.main-form {
  background-color: $form-cl;
  border-radius: $form-radio;
  box-shadow: $shw-offset-x $shw-offset-y $shw-blur $shw-spread $shw-color;
  padding: 2.5rem;
}

form.main-form h1 {
  color: $text-field-cl;
  font-weight: $font-weight-light;
  margin-bottom: $margin-normal;
  text-align: center;
}

form h2 {
  color: $text-field-cl;
  font-size: $font-xlarge;
  font-weight: $font-weight-light;
  margin-bottom: $margin-normal;
  text-align: center;
}

.gray-text {
  color: gray;
  font-size: $font-xxsmall;
}

// controls
button.btn.btn-block {
  background: $button-main-cl;
  border-radius: $no-radius;
  color: $text-field-cl;
  font-weight: $bold;
  &:focus,
  &:hover {
    background: $button-main-dark-cl;
  }
}

button.btn.btn-primary {
  background: $button-main-cl;
  border: 0;
  font-size: 1.0rem;
  font-weight: $bold;
  letter-spacing: 0.1em;
  &:focus,
  &:hover {
    background: $button-main-dark-cl;
  }
}

fa-icon.click-icon {
  color: $button-icon;
  cursor: pointer;
  font-size: $font-large;
  padding-right: 1rem;
  &:focus,
  &:hover {
    color: white;
  }
}

input.form-control {
  font-family: Arial;
  font-size: 0.9rem;
}

input.form-control:disabled {
  background-color: $field-disable-cl;
}

input.form-control.with-icon {
  text-indent: 2rem;
}

label.check-label {
  padding-right: 1rem;
  padding-top: 0.3rem
}

label.crud-title {
  font-size: $font-large;
  font-weight: bolder;
}

label.inside-label {
  left: 1rem;
  position: absolute;
  transform: translateY(0.5rem);
}

label.married-with-field {
  font-size: $font-xsmall;
  font-family: Arial;
  font-weight: bold;
  .req {
    color: $req-cl;
  }
}
select.form-control {
  background-color: $field-disable-cl;
  font-size: 0.9rem;
}

select.form-control:disabled {
  background-color: $field-disable-cl;
}

textarea.form-control:disabled {
  background-color: $field-disable-cl;
}
textarea.form-control {
  font-size: 0.9rem;
}

// ngBootstrap
ngb-accordion.accordion-main.accordion .card,
ngb-accordion.accordion-main.accordion .card:not(:first-of-type):not(:last-of-type) {
  background-color: #272B30;
  border-radius: 10px 10px 0px 0px;
  color: $text-field-cl;
}

ngb-accordion.accordion-main.accordion .card .card-header h5 .btn.btn-link {
  color: white;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.9rem;
}

.card .card-header {
  background-color: #3A3F44;
}

// custom classes
.button-huge {
  color: $button-icon;
  cursor: pointer;
  font-size: $font-xxlarge;
  &:focus,
  &:hover {
    color: white;
  }
}

.button-normal {
  color: $button-icon;
  cursor: pointer;
  font-size: $font-medium;
  &:focus,
  &:hover {
    color: white;
  }
}

.input-group label.control-label,
.input-group button.control-label {
  background-color: $form-cl;
  border-color: $border-cl;
  border-radius: 10px 0px 0px 10px;
  color: $text-field-cl;
  font-size: 0.8rem;
  height: 2rem; 
}
.input-group button.control-label {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.input-group label.control-label.complete-radius {
  border-radius: 10px 10px 10px 10px;
  font-size: 0.9rem;
}

.input-group .form-control {
  height: 2rem; 
}

.input-group label.control-label.checkbox {
  border-radius: 10px 10px 10px 10px;
}

.input-group label.control-label.checkbox.active {
  background-color: #0073B1;
}

.input-group label.control-label.required,
.input-group button.control-label.required {
  background-color: $req-cl;
}

.field-wrap {
  padding-bottom: $padding-small;
}

.field-wrap.wrap-with-padding{
  padding-top: $padding-normal;
  padding-bottom: $padding-small;
}

.field-wrap.check-in-input-level {
  padding-top: $padding-small;
}

.modal-content {
  background-color: $form-bg;
  border-color: white;
  border-radius: 10px 10px 10px 10px;
  border-width: 1px;
  width: 65rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.modal-content .modal-header .modal-title {
  color: $text-2;
  font-size: $font-large;
  font-weight: $bold;
}

.modal-header {
  background-color: $nav-cl;
  border-radius: 9px 9px 0px 0px;
}

.modal-footer {
  // background-color: $nav-cl;
  border-radius: 0px 0px 9px 9px;
}

.modal-footer button.btn.btn-outline-primary.modal-btn {
  border-radius: 10px 10px 10px 10px;
  font-size: 0.9rem;
  color: $button-icon;
  border-color: $button-icon;
  border-width: 2px;
  &:hover {
    background-color: $table-hover-bg;
  }
}

.modal-dialog {
  min-height: calc(100% - (.5rem * 2));
}

.modal-backdrop.show {
  opacity: 0.8;
}

.row-title {
  border-bottom: 1px solid $button-icon;
  color: $button-icon;
  margin-bottom: $margin-normal;
  padding-bottom: $padding-small;
}

#search-results thead {
  font-size: $font-xsmall;
}

#search-results tr {
  border-bottom: 2px solid $table-hover-txt;
  border-top: 0;
  font-size: $font-xsmall;
  padding: 0.5rem;
  &:hover {
    cursor: pointer;
    background-color: $table-hover-bg;
  }
}

#search-results tr.no-pointer {
  &:hover {
    cursor: auto;
  }
}

.table th, .table td {
  vertical-align: middle;
  padding: 0.35rem;
}

.col-center {
  text-align: center;

}
.col-left {
  text-align: left;
}
.col-right {
  text-align: right;
}
.no-result {
  text-align: center;
  font-size: $font-small;
  color: $table-text;
}

.field-wrap label {
  font-size: $font-xsmall;
}

.form-control[readonly] {
  background-color: #232323;;
  color: white;
}

.dropdown-menu {
  font-size: $font-xsmall;
}

label.sub-title {
  font-size: $font-small;
}

button.btn.btn-outline-primary.toggle {
  border-radius: 10px 10px 10px 10px;
  font-size: 0.9rem;
}

// .field-wrap {
//   margin-bottom: 20px;
//   position: relative;
// }
// .field-wrap-small {
//   margin-bottom: 20px;
//   position: relative;
// }
// .field-wrap-xsmall {
//   margin-bottom: 4px;
//   position: relative;
// }
// .field-wrap-small .form-check-inline {
//   margin-top: 5px;
// }
// .field-wrap-small .form-check-inline-bottom {
//   margin-top: 32px;
// }
// .field-wrap-small .form-check-bottom {
//   margin-top: 25px;
// }
// .crud-icons.small-icons i.fa {
//   font-size: $font-large;
// }
// .crud-icons.small-icons i.fa.a-plus-circle {
//   padding-left: 20px;
// }
// #search-add-btn {
//   margin-top: 40px;
// }
// #search-add-btn .field-wrap-small {
//   margin-left: -38px;
// }
// input.form-control {
//   background-color: $field-bg-cl;
//   border: $input-border;
//   color: $text-field-cl;
//   transition: border-color 0.25s ease, box-shadow 0.25s ease;
//   &:focus {
//     background-color: rgba($field-bg-cl, .9);
//     border-color: $button-main-cl;
//     color: $text-field-cl;
//   }
//   &:disabled {
//     background-color: rgba($field-bg-cl, .3);
//     color: $text-field-cl;
//   }
// }
// input.form-control.no-radius {
//   border-radius: $no-radius;
// }
// input.form-control.with-radius {
//   border-radius: $input-radio;
// }
// input.form-control.with-icon {
//   padding-left: $input-left-pad;
// }
// input.form-control.bigger {
//   font-size: $font-large;
// }
// input.form-control.normal {
//   font-size: $font-xsmall;
// }
// input.form-control.smaller {
//   font-size: $font-xxsmall;
// }
// input.form-control.right-text {
//   text-align: right;
// }
// //// old
// button.inside-button {
//   color: white;
//   margin-top: -4px;
//   padding-bottom: 2px;
//   padding-left: 6px;
//   padding-right: 6px;
//   padding-top: 1px;
//   position: absolute;
//   right: 2px;
//   transform: translateY(6px);
// }
// .card {
//   background-color: $card-bg;
// }
// .card .card-header {
//   color: rgba($text-1, .5);
// }

// #costos .fa {
//   font-size: 25px;
//   padding-top: 4px;
// }
// hr.divide-component {
//   background-color: white;
//   border: 0;
//   height: 1px;
//   margin-bottom: 0;
// }
// label.check-label {
//   color: rgba($text-1, .5);
//   font-size: $font-xsmall;
//   left: 13px;
// }
// label.collapse-section {
//   color: rgba($text-1, .5);
//   font-size: $font-small;
//   font-weight: $bold;
//   left: 13px;
//   .req {
//     color: $main;
//   }
// }
// label.inside-label.filter-with-radius {
//   font-size: $font-small;
// }
// label.normal-label {
//   color: rgba($text-1, .5);
//   font-size: $font-small;
//   left: 13px;
//   .req {
//     color: $main;
//   }
// }
// label.normal-label.xsmall-label {
//   color: rgba($text-1, .5);
//   font-size: $font-xsmall;
//   left: 13px;
//   .req {
//     color: $main;
//   }
// }
// .main-form h4 {
//   color: $text-1;
//   font-weight: $normal;
//   margin-bottom: 40px;
//   text-align: center;
// }
// .main-form h5 {
//   color: $text-1;
//   font-weight: $normal;
//   font-size: $font-medium;
//   text-align: center;
// }
// .modal-content {
//   background-color: $form-bg;
//   border-color: white;
//   border-width: 1px;
// }
// .modal-content .modal-header .modal-title {
//   color: $text-2;
//   font-size: $font-large;
//   font-weight: $bold;
// }
// #search-bar input.form-control {
//   padding-left: 40px;
// }
// select.form-control {
//   background: $form-bg;
//   border: $input-border;
//   border-radius: $no-radius;
//   color: $text-1;
//   font-size: $font-xsmall;
//   padding: 0.375rem 0.5rem;
//   transition: border-color 0.25s ease, box-shadow 0.25s ease;
//   &:not([size]):not([multiple]) {
//     height: calc(1.9rem + 1px);
//   }
//   &:focus {
//     background-color: rgba($form-bg, .9);
//     border-color: $main;
//     color: $text-1;
//   }
//   &:disabled {
//     background-color: rgba($form-bg, .3);
//     color: $text-1;
//   }
// }
// .table-icons i.fa {
//   color: $text-2;
//   &:focus,
//   &:hover {
//     color: $text-1;
//   }
// }
// .table-xsmall-font {
//   font-size: $font-xsmall;
// }
// .table-xxsmall-font {
//   font-size: $font-xxsmall;
// }
// table.table-dark.nested-component-table {
//   background: $form-bg;
//   margin-top: 15px;
//   font-size: $font-xsmall;
// }
// thead.table-header {
//   color: rgba($text-1, .5);
// }
// td.small-col {
//   max-width: 10px;
// }
// td.medium-col {
//   max-width: 60px;
// }
// td.large-col {
//   max-width: 30px;
// }
