<div class="row justify-content-md-center">
  <div class="col-md-12">
    <div class="unicorn"></div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-12 four-oh-four">
    <h1>404 Error</h1>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-md-3 warning">
    <h2>"Oooops! P&aacute;gina no encontrada."</h2>
    <button id="gohome-button" class="btn btn-block" type="button" (click)="goto()">GO HOME</button>
  </div>
</div>
