<div class="row">
  <div class="offset-11 col-1 d-flex justify-content-end">
    <a (click)="openModal(0)">
      <fa-icon class="click-icon" [icon]="['fas', 'plus-circle']"></fa-icon>
    </a>
  </div>
</div>

<div class="row">
  <div id="search-results" class="col-12">
    <table class="table">
      <thead class="table-xsmall-font">
        <th scope="col">Descripci&oacute;n</th>
        <th scope="col" *ngIf="tipo==='1'">Nro.</th>
        <th scope="col" *ngIf="tipo==='2'">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </thead>
      <tbody class="table-xxsmall-font">
        <tr class="no-pointer" *ngFor="let contacto of contactos; trackBy: trackByFn">
          <td>{{ contacto.descripcion }}</td>
          <td>{{ contacto.contacto }}</td>
          <td class="col-1">
            <a (click)="openModal(contacto.id)">
              <fa-icon class="click-icon" [icon]="['fas', 'edit']"></fa-icon>
            </a>
          </td>
          <td class="col-1">
            <a (click)="eliminarContacto(contacto.id)">
              <fa-icon class="click-icon" [icon]="['fas', 'trash']"></fa-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>