<form #f="ngForm" novalidate>

  <div class="row row-title">
    <div class="offset-2 col-8 d-flex justify-content-center">
      <label class="crud-title">{{ title }}</label>
    </div>
    <div class="col-2 d-flex justify-content-end">
      <app-crud-buttons [hasEntity]="productoId" [isReadOnly]="readOnly" [isValidForm]="validForm(false)" [delete]="true"
                        (status)="getStatus($event)" (validationRequired)="validForm($event)">
      </app-crud-buttons>
    </div>
  </div>

  <div class="row pt-2">

    <div id="field-descripcion" class="col-5">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label">
          Descripci&oacute;n *
        </label>
        <input id="producto-descripcion" class="form-control" name="producto-descripcion" type="text" [(ngModel)]="producto.descripcion"
               required="required" [disabled]="readOnly" />
      </div>
    </div>

    <div id="field-reducida" class="offset-2 col-3">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label">
          Descrip. Red.
        </label>
        <input id="producto-reducida" class="form-control" name="producto-reducida" type="text" [(ngModel)]="producto.descripcionReducida"
               [disabled]="readOnly" />
      </div>
    </div>

    <div id="field-codigo" class="col-2">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label">
          C&oacute;digo
        </label>
        <input id="producto-id" class="form-control text-right" name="producto-id" type="text" [(ngModel)]="producto.id"
               [disabled]="true" />
      </div>
    </div>

  </div>

  <div class="row">
    <div id="field-barras" class="col-5">
      <div class="field-wrap input-group">
        <label class="input-group-text control-label">
          C&oacute;d. de Barras
        </label>
        <input id="producto-barras" class="form-control text-right" name="producto-barras" type="text" [(ngModel)]="producto.codigoBarras"
               [disabled]="readOnly" />
      </div>
    </div>

    <div id="field-origen" class="offset-2 col-3">
      <div class="field-wrap input-group" *ngIf="origenes">
        <label class="input-group-text control-label" for="select-origen">
          Origen
        </label>
        <select id="select-origen" class="form-control" name="producto-origen" [(ngModel)]="producto.origen"
                [compareWith]="compareFn" required="required" [disabled]="readOnly">
          <option *ngFor="let origen of origenes; trackBy: trackByFn" [ngValue]="origen">
            {{ origen.descripcion }}
          </option>
        </select>
      </div>
    </div>

    <div id="field-estado" class="col-2">
      <div class="field-wrap input-group" *ngIf="estados">
        <label class="input-group-text control-label" for="select-estado">
          Estado *
        </label>
        <select id="select-estado" class="form-control" name="producto-estado" [(ngModel)]="producto.estado"
                [compareWith]="compareFn" required="required" [disabled]="readOnly">
          <option *ngFor="let estado of estados; trackBy: trackByFn" [ngValue]="estado">
            {{ estado.descripcion }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-6">

      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <label class="sub-title">
            Listas de Precios
          </label>
          <hr>
        </div>
      </div>

      <div class="row">
        <div class="offset-3 col-3">
          <label class="sub-title">
            Renta
          </label>
        </div>
        <div class="col-3">
          <label class="sub-title">
            Precio sin IVA
          </label>
        </div>
        <div class="col-3">
          <label class="sub-title">
            Precio Final
          </label>
        </div>
      </div>

      <!-- <div class="row" *ngFor="let precio of producto.precios; let in = index; trackBy: trackByFn">
        <div class="column col-md-2 col-sm-2 col-xs-2">
          <label class="normal-label xsmall-label text-nowrap mt-0 ">
            {{ precio.lista.descripcion }}
          </label>
        </div>
        <div class="column col-md-3 col-sm-3 col-xs-3">
          <div class="field-wrap-small">
            <input id="renta" name="renta-{{ in }}" class="form-control" type="text" [(ngModel)]="precio.renta"
                   autocomplete="off" [disabled]="!editEnabled" />
          </div>
        </div>

        <div class="column col-md-3 col-sm-3 col-xs-3">
          <div class="field-wrap-small">
            <input id="precioCosto" name="precioCosto-{{ in }}" class="form-control" type="text" [(ngModel)]="articulo.costo"
                   autocomplete="off" [disabled]="!editEnabled" />
          </div>
        </div>

        <div class="column col-md-3 col-sm-3 col-xs-3">
          <div class="field-wrap-small">
            <input id="precioFinal" name="precioFinal-{{ in }}" class="form-control" type="text" [(ngModel)]="precio.precioFinal"
                   autocomplete="off" [disabled]="!editEnabled" />
          </div>
        </div>
      </div> -->
    </div>

    <!-- <div id='costos' class="column col-md-5 col-sm-5 col-xs-5">
      <div class="column col-md-12 col-sm-12 col-xs-12">
        <h5>Costos</h5>
      </div>
      <div class="row">
        <div class="column col-md-4 col-sm-4 col-xs-4">
          <div class="field-wrap-small">
            <label class="normal-label xsmall-label" for="select-origen">
              Gravado
            </label>
            <select id="select-gravado" class="form-control" name="gravado" [compareWith]="compareFn" [(ngModel)]="articulo.gravado"
                    [disabled]="!editEnabled">
              <option *ngFor="let gravado of gravados; trackBy: trackByFn" [ngValue]="gravado">
                {{ gravado.porcentaje }} %
              </option>
            </select>
          </div>
        </div>
        <div class="column col-md-4 col-sm-4 col-xs-4">
          <div class="field-wrap-small">
            <label class="normal-label xsmall-label">
              Costo
            </label>
            <input id="costo" name="costo" class="form-control" type="text" [(ngModel)]="articulo.costo" autocomplete="off"
                   [disabled]="!editEnabled" />
          </div>
        </div>
        <div class="column col-md-1 col-sm-1 col-xs-1">
          <div class="field-wrap-small">
            <i class="fa fa-archive" (click)="openModal()"></i>

          </div>
        </div>
      </div>
    </div> -->
  </div>
</form>